*{

margin: 0;
}

body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    color: white;
    overflow: hidden;
    
}

.fundo{
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    padding-top: 200px;
    height: 100vh;
}

.subtitulo{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold; /*negrito*/
    font-family: 'Trebuchet MS';
    letter-spacing: 2px; /*espaçamento das letra*/
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.titulo{
   
}

.destaque{
    
    color: black;
    background-color: white;
    width: 400px;
    
    
}

.botão{

}

